@import '../shared';

/*
==========================
NO RESULTS
==========================
*/
.no-results-card {
  color: $grey;
  width: 70%;
  margin: 0 auto;
  grid-column: 1 / -1;
  padding: 10px;
  line-height: 30px;
  font-weight: 600;
  font-size: 22px;
  i {
    margin-right: 20px;
    font-size: 22px;
  }
}

/*
==========================
MEDIA QUERY
==========================
*/
@media (max-width: 550px) {
  .no-results-card {
    width: 100%;
  }
}