/*
==========================
COLORS
==========================
*/
$theme-green: #15CF89;

$palest-grey: #F2F2F2;
$light-grey: #e6e6e6;
$grey: #A1A1A1;
$dark-grey: #747474;

$attention-red: #f37070;

$box-shadow: 3px 3px 6px $light-grey;

$box-shadow-grey: 3px 3px 16px $grey;
