@import './shared';
/*
==========================
APP & TITLE
==========================
*/

.App {
  background-color: $palest-grey;
  min-height: 100vh;
  top: 0px;
  position: absolute;
  width: 100vw;
  text-align: center;
  max-width: 1180px;
  margin: 0 auto;
}

.app-title {
  text-transform: uppercase;
  color: $grey;
  letter-spacing: 2.5px;
  margin-top: 50px;
}
/*
==========================
INPUT & INPUT BTN & ERROR
==========================
*/
#query-input {
  width: 650px;
  padding: 8px;
  border: none;
  box-shadow: $box-shadow;
  color: $dark-grey;
  &::placeholder {
    color: $grey;
  }
}

.query-btn {
  border: none;
  color: white;
  background-color: $theme-green;
  box-shadow: $box-shadow;
  padding: 8px 16px;
  font-weight: 600;
}

.error-message {
  color: $attention-red;
  font-weight: 600;
  margin-top: 20px;
}

/*
==========================
LOADER
==========================
*/
#loader {
  animation: App-logo-spin infinite 1s linear;
  font-size: 60px;
  color: $grey;
  display: block;
  margin: 30px auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*
==========================
BOOK CARDS
==========================
*/
